@font-face {
    font-family: "SourceSansProRegular";
    src: url("../fonts/SourceSansProRegular.eot");
    src: url("../fonts/SourceSansProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SourceSansProRegular.woff") format("woff"),
    url("../fonts/SourceSansProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
}
body {
  font-family: "SourceSansProRegular";
}
h2.title {
  text-align: center;
  overflow: hidden;
}
h2.title span {
  display: inline-block;
  position: relative;
  font-size: 30px;
}
h2.title span:before,
h2.title span:after {
  content: '';
  width: 120px;
  height: 1px;
  background: #cccccc;
  position: absolute;
  top: 15px;
}
h2.title span:before {
  left: -150px;
}
h2.title span:after {
  right: -150px;
}
.btn-holder {
  text-align: center;
}
.btn_purpure {
  display: inline-block;
  background: #993399;
  padding: 10px 0;
  width: 165px;
  font-size: 14px;
  color: #ffffff;
  border-radius: 20px;
}
.btn_purpure:hover {
  color: #ffffff;
}

/* Top */
.top-container {
  background: url(../img/top_bg.jpg) no-repeat center;
  background-size: cover;
  height: 470px;
  position: relative;
}
.top-container .container,
.top-container .row,
.top-container .column,
.top-container .top-left,
.top-container .top-right {
  height: 100%;
}
.top-container .btn-holder {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -20px;
}
.top-container .btn-holder .btn_purpure {
  font-size: 18px;
  width: 200px;
  text-shadow: 1px 1px 2px rgba(0,0,0,.8);
  box-shadow: 0 1px 8px rgba(0,0,0,.8);
}
.header-container {
  min-height: 55px;
  background: rgba(255,255,255,.6);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  padding-bottom: 10px;
}
.header-container .top-nav {
  text-align: right;
  padding-top: 17px;
}
.header-container .top-nav li {
  display: inline-block;
  padding: 0 25px;
}
.header-container .top-nav li a {
  font-size: 18px;
  color: #993399;
}
.header-container .social {
  text-align: right;
  padding-top: 14px;
}
.header-container .social a {
  margin-left: 5px;
}
.header-container .social a:hover {
  opacity: .9;
}
.header-container .social a.daftar {
  font-size: 18px;
  color: #993399;
  text-decoration: none;
  border-bottom: 1px dotted #993399;
  float: left;
  margin-left: 100px;
  margin-top: 5px;
}
.header-container .social a.daftar:hover {
  opacity: 1;
  border-color: transparent;
}
.top-container .top-left,
.top-container .top-right {
  display: table;
  width: 100%;
}
.top-container .top-left-inner,
.top-container .top-right-inner {
  display: table-cell;
  vertical-align: middle;
}
.top-container .top-left-inner img {
  float: left;
}
.top-container .top-left-inner p {
  display: inline-block;
  font-size: 18px;
  color: #3366cc;
  padding-left: 4px;
  padding-top: 17px;
}
.top-container .top-left-inner p span {
  font-size: 24px;
}
.top-container .top-right-inner {
  text-align: center;
}
.top-container .top-right-inner p {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 7px;
}
.top-container .top-right-inner a {
  display: inline-block;
  width: 100%;
  max-width: 275px;
  height: 60px;
  background: #452e16;
  background: -moz-linear-gradient(bottom, #1e9eef 0%, #1fa3f7 25%, #21b0ff 50%, #23baff 75%, #24bfff 100%);
  background: -webkit-linear-gradient(bottom, #1e9eef 0%, #1fa3f7 25%, #21b0ff 50%, #23baff 75%, #24bfff 100%);
  background: -o-linear-gradient(bottom, #1e9eef 0%, #1fa3f7 25%, #21b0ff 50%, #23baff 75%, #24bfff 100%);
  background: -ms-linear-gradient(bottom, #1e9eef 0%, #1fa3f7 25%, #21b0ff 50%, #23baff 75%, #24bfff 100%);
  background: linear-gradient(bottom, #1e9eef 0%, #1fa3f7 25%, #21b0ff 50%, #23baff 75%, #24bfff 100%);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #4eb09f;
  font-size: 24px;
  line-height: 55px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 1px 1px 2px #000000;
  box-shadow: 0 1px 4px #000000;
}
.top-container .top-right-inner a:hover {
  opacity: .9;
}

/* Carousel */
.carousel-container {
  padding: 50px 0;
}
.carousel-container h2.title {
  margin-bottom: 25px;
}
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item{
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.grabbing {
    cursor:url(grabbing.png) 8 8, move;
}
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

.carousel-holder {
  position: relative;
  height: 125px;
}
.carousel-holder .owl-carousel {
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}
.carousel-holder .item {
  height: 125px;
  padding-top: 15px;
}
.carousel-holder .item .image-holder {
  margin-bottom: 5px;
}
.carousel-holder .item a {
  font-size: 16px;
  color: #ffffff;
  text-decoration: underline;
}
.carousel-holder .item a:hover {
  text-decoration: none;
}
.carousel-holder .prev,
.carousel-holder .next {
  width: 25px;
  height: 125px;
  padding: 0;
  background: #cccccc;
  display: block;
  border: none;
  border-radius: 0;
  outline: none;
  position: absolute;
  top: 0;
  vertical-align: middle;
  line-height: 135px;
}
.carousel-holder .prev {
  left: 0;
}
.carousel-holder .next {
  right: 0;
}

/* Slider */
.slider-container h2.title {
  margin-top: 40px;
  margin-bottom: 25px;
}
.slider-holder {
  position: relative;
}
.slider-holder .owl-carousel {
  padding-left: 35px;
  padding-right: 35px;
}
.slider-holder .item .image-holder {
  float: left;
  width: 30%;
  margin-right:
}
.slider-holder .item .image-holder img {
  width: 100%;
}
.slider-holder .item .text-holder {
  padding-right: 30px;
  padding-top: 40px;
  float: right;
  width: 68%;
}
.slider-holder .item .text-holder p {
  position: relative;
  font-size: 14px;
  color: #999999;
  text-indent: 20px;
  margin-bottom: 15px;
  line-height: 1.3;
}
.slider-holder .item .text-holder p:before,
.slider-holder .item .text-holder p:after {
  font-size: 48px;
  color: #999999;
  position: absolute;
}
.slider-holder .item .text-holder p:before {
  content: '“';
  left: -20px;
  top: -35px;
}
.slider-holder .item .text-holder p:after {
  content: '„';
  right: 0;
  bottom: -20px;
}
.slider-holder .item .text-holder span {
  font-size: 18px;
  color: #3399ff;
}
.slider-holder .prev,
.slider-holder .next {
  padding: 0;
  display: block;
  border: none;
  border-radius: 0;
  outline: none;
  position: absolute;
  top: 50px;
}
.slider-holder .prev {
  left: 0;
}
.slider-holder .next {
  right: 0;
}


/* News */
.news-container .container {
  padding: 35px 15px 25px;
  background: #f3f2f2;
}
.news-container h3 {
  text-align: center;
  font-size: 18px;
  color: #ff00cc;
  margin-bottom: 25px;
}
.news-container p {
  text-align: justify;
  font-size: 14px;
  color: #666666;
  margin-bottom: 10px;
}

/* Consult */
.consult-head {
  padding: 50px 0 30px;
}
.consult-inner {
  background: url(../img/consult_bg.jpg) no-repeat center;
  background-size: cover;
  min-height: 360px;
  position: relative;
  padding-top: 80px;
}
.consult-inner .btn-holder {
  padding-top: 80px;
}
.consult-inner .btn-holder a {
  display: inline-block;
  background: #0099ff;
  font-size: 18px;
  color: #ffffff;
  padding: 17px 0;
  width: 220px;
  border-radius: 30px;
  text-shadow: 1px 1px 2px #000000;
}
.consult-inner h1 {
  font-size: 30px;
  color: #993399;
  margin-bottom: 30px;
}
.consult-inner ul {
  padding-left: 30px;
  margin-bottom: 30px;
}
.consult-inner ul li {
  margin: 10px 0;
}
.consult-inner ul li a {
  font-size: 18px;
  color: #0066cc;
  text-decoration: underline;
}
.consult-inner ul li a:hover {
  text-decoration: none;
}
.consult-inner a.topik {
  font-size: 18px;
  color: #993399;
  text-decoration: underline;
}
.consult-inner a.topik:hover {
  text-decoration: none;
}

/* Categories */
.categories-container {
  padding: 50px 0 100px;
}
.categories-container h2.title {
  margin-bottom: 30px;
}
.categories-section {
  position: relative;
}
.categories-section img {
  width: 100%;
}
.categories-section p {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 1px;
  background: rgba(0,0,0,.5);
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}

/* Footer */
.footer-container {
  border-bottom: 22px solid #0099ff;
}
.footer-inner {
  background: #0099ff;
  padding: 35px 0 20px;
}
.footer-inner ul {
  display: inline-block;
}
.footer-inner ul.first,
.footer-inner ul.second {
  margin-right: 90px;
}
.footer-inner ul li {
  margin: 10px 0;
}
.footer-inner ul li a {
  font-size: 14px;
  color: #ffffff;
}
.footer-inner form {
  float: right;
}
.footer-inner form input[type="text"] {
  padding: 0 10px;
  width: 230px;
  height: 24px;
  border: none;
  font-size: 14px;
  color: #999999;
}
.footer-inner form .btn_purpure {
  border-radius: 0;
  width: 105px;
  padding: 7px 0;
  text-align: center;
  margin-left: 15px;
  box-shadow: 0 1px 5px rgba(0,0,0,.5);
}
.footer-inner form .btn_purpure:hover {
  opacity: 1;
}
.footer-bottom {
  background: #993399;
  padding: 15px 0;
}
.footer-bottom p {
  font-size: 14px;
  color: #cccccc;
}
.footer-bottom p a {
  float: right;
  font-size: 12px;
  color: #cccccc;
}
.footer-bottom p a:hover {
  color: #ffffff;
}
.full-height {
  height: auto;
  background: url(../img/top_bg.jpg) no-repeat top center;
  background-size: 100%;

}
.top-margin {
  padding-top: 55px;
}
.group-for-speak {
  background: #ffffff;
  margin-top: 20px;
}
.group-for-speak > h2 {
  font-size: 30px;
  color: #000000;
  text-align: center;
  min-height: 60px;
  line-height: 60px;
}
.questions-search {
  min-height: 47px;
  background: #f3f2f2;
}
.questions-search-inside {
  width: 408px;
  margin: auto;
}
.questions-search-inside-left {
  font-size: 18px;
  color: #666666;
  line-height: 47px;
}
.questions-search-inside-right > * {
  float: left;
}
.questions-search-inside-right input {
  width: 205px;
  height: 26px;
  border: 0px solid transparent;
  outline: none;
  margin-top: 11px;
  padding: 0 5px;
}
.questions-search-inside-right button {
  width: 36px;
  height: 28px;
  border: 0px solid transparent;
  background: #993399;
  margin-top: 10px;
}
.questions-search-inside-right button:hover {
  opacity: .8;
}
.questions-search-inside-right button:after {
  content: url("../img/icons/search.png");
}
.top-pink {
  background: #993399;
}
.top-pink * {
  color: #ffffff !important;
}
.lists-block {
  padding-left: 10px;
  padding-top: 32px;
  padding-bottom: 80px;
}
.lists-block-item {
  width: 180px;
  margin: 40px 25px;
  float: left;
}
.list-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 12px;
}
.lists-block-item > a {
  color: #993399;
  font-size: 16px;
  text-decoration: underline;
  text-align: center;
  display: block;
}
.lists-block-item > a:hover {
  text-decoration: none;
}
.lists-block-item ul {
  padding: 0;
  margin: 13px 0 0 0;
}
.lists-block-item ul li {
  line-height: 18px;
}
.lists-block-item ul li a {
  line-height: 18px;
  color: #999999;
  text-decoration: underline;
}
.lists-block-item ul li a:hover {
  text-decoration: none;
}
.show-more-items {
  margin-top: 5px;
}
.show-more-items a {
  color: #993399 !important;
}
.searchbar {
  max-width: 956px;
  padding: 24px 20px;
  width: 100%;
  margin: auto;
}
.searchbar .list-img {
  margin: 0;
}
.searchbar-theme {
  height: 60px;
  line-height: 60px;
}
.searchbar-theme > * {
  float: left;
}
.searchbar-theme h2 {
  font-size: 30px;
  color: #000000;
  text-align: center;
  min-height: 60px;
  line-height: 60px;
  margin-left: 7px;
}
.search-area input {
  border: 1px solid #e3e3e3;
  height: 28px;
  margin-top: 10px;
  margin-left: 10px;
}
.search-area .questions-search-inside-left {
  margin-left: 65px;
}
.search-sidebar {
  padding: 0 13px;
  width: 259px;
}
.sidebar-s-menu {
  padding: 0;
  margin: 0;
}
.sidebar-s-menu li a {
  color: #993399;
  font-size: 14px;
  text-decoration: underline;
  line-height: 30px;
  display: block;
  padding: 0 13px;
}
.sidebar-s-menu li a:hover, .sidebar-s-menu li.active a {
  background: #993399;
  color: #ffffff;
}
.search-content {
  max-width: 710px;
  width: 100%;
  padding: 0 13px;
}
.search-content h3 {
  font-size: 24px;
  text-decoration: underline;
  margin-top: 50px;
}
.search-single-result {
  margin-left: 10px;
  margin-top: 31px;
}
.search-single-result img {
  float: left;
}
.search-single-result-area {
  width: 560px;
  float: right;
  margin-right: 48px;
}
.search-single-result-area-left {
  float: left;
}
.search-single-result-area-right {
  float: right;
  height: 10px;
  line-height: 10px;
  margin-top: 38px;
}
.search-single-result-area-right span {
  font-size: 14px;
  color: #666666;
  margin-left: 5px;
}
.search-single-result-area-left a {
  color: #993399;
  font-size: 18px;
  line-height: 18px;
  text-decoration: underline;
}
.search-single-result-area-left a:hover {
  text-decoration: none;
}
.search-single-result-area-left p {
  line-height: 17px;
  font-size: 14px;
  color: #999999;
  width: 400px;
  margin-top: 12px;
}
.search-result-main-content {
  padding-bottom: 78px;
}
.group-for-speak-com {
  padding: 0 13px;
}
.comunites-container {
  max-width: 905px;
  position: relative;
  padding-top: 38px;
  margin-bottom: 10px;
  padding-bottom: 30px;
}
.comunites-container-top, .comunites-container-bot {
  width: 100%;
  padding-left: 125px;
  max-width: 905px;
}
.bradcrumbs {
  padding: 0;
  margin: 0;
}
.bradcrumbs li {
  display: inline-block;
  line-height: 36px;
}
.bradcrumbs li a {
  color: #993399;
  font-size: 14px;
}
.bradcrumbs li:after {
  content: "→";
  color: #999999;
  margin: 0 5px;
  font-size: 14px;
}
.bradcrumbs li:last-child:after {
 content: none;
}
.bradcrumbs li:last-child a {
  color: #999999;
}
.comunites-container > img {
  position: absolute;
  left: 17px;
  top: 48px;
}
.comunites-container-bot {
  background: #3399ff;
  min-height: 77px;
}
.comunites-theme {
  margin-right: 40px;
}
.comunites-theme h2 {
  text-align: left;
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  padding-top: 9px;
}
.comunites-theme p {
  font-size: 12px;
  color: #ffffff;
}
.comunites-container-bot > * {
  float: left;
}
.comunites-desc {
  width: 390px;
  margin-right: 30px;
}
.comunites-desc p {
  font-size: 14px;
  color: #ffffff;
  line-height: 17px;
  margin-top: 21px;
}
.comunites-enjoy {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 2px;
  background: transparent;
  display: block;
  height: 32px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0 32px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none !important;
}
.comunites-enjoy:hover {
  opacity: .8;
  color: #ffffff;
}
.comunites-left-sidebar {
  width: 200px;
}
.comunites-right-sidebar {
  width: 195px;
  padding-left: 5px;
  margin-bottom: 50px;
}
.comunites-content-area {
  width: 690px;
  padding-left: 10px;
}
.comunites-left-sidebar h3 {
  display: block;
  color: #993399;
  font-size: 18px;
  position: relative;
  margin-top: 20px;
  padding-left: 8px;
}
.comunites-left-sidebar h3:after {
  content: url("../img/icons/burger.png");
  position: absolute;
  right: 8px;
  top: 2px;
}
.sidebar-comunies-list {
  padding-left: 19px;
  padding-top: 15px;
  display: block;
}
.sidebar-comunies-list li {
  margin: 7px 0;
  padding-right: 5px;
}
.sidebar-comunies-list a {
  line-height: 17px;
  font-size: 14px;
  color: #666666;
  text-decoration: none;
}
.sidebar-comunies-list a:hover {
  text-decoration: underline;
}
.single-sidebar-box {

}
.single-sidebar-box h3 {
  font-size: 18px;
  color: #666666;
  margin-bottom: 17px;
  margin-top: 27px;
}
.single-sidebar-box li {
  margin: 6px 0;
  position: relative;
  padding-left: 26px;
}
.single-sidebar-box li:before {
  content: "•";
  color: #993399;
  position: absolute;
  left: 17px;
}
.single-sidebar-box a {
  font-size: 14px;
  color: #993399;
  line-height: 17px;
  text-decoration: underline;
}
.single-sidebar-box a:hover {
  text-decoration: none;
}
.single-post-prev {
  border-bottom: 2px solid #dddddd;
  margin-top: 19px;
}
.single-post-prev:last-child {
  margin-bottom: 72px;
}
.single-post-prev-top > span {
  display: block;
  width: 54px;
  height: 54px;
  overflow: hidden;
  border-radius: 50%;
}
.single-post-prev-top > * {
  float: left;
}
.single-post-prev-top > span img {
  width: 54px;
  height: 54px;
}
.author-name {
  height: 54px;
  padding-left: 15px;
}
.author-name a {
  font-size: 14px;
  color: #993399;
  margin-bottom: 6px;
  margin-top: 13px;
  display: block;
  text-decoration: underline;
}
.author-name a:hover {
  text-decoration: none;
}
.author-name p {
  font-size: 12px;
  color: #999999;
}
.social-area {
  height: 27px;
  float: right;
  margin-top: 20px;
  line-height: 27px;
}
.social-1, .social-2 {
  float: right;
  margin-left: 10px;
}
.social-1 img, .social-2 img {
  float: left;
}
.social-1 span, .social-2 span {
  display: block;
  line-height: 27px;
  float: right;
  margin-left: 10px;
}
.single-post-prev-bot {
  width: 100%;
  padding-left: 68px;
  padding-right: 3px;
}
.single-post-prev-bot > a {
  font-size: 18px;
  color: #993399;
  text-decoration: underline;
  font-family: arial;
  font-style: italic;
  display: block;
  margin-bottom: 12px;
  margin-top: 2px;
}
.single-post-prev-bot > a:hover {
  text-decoration: none;
}
.single-post-prev-bot p {
  color: #999999;
  font-size: 14px;
  line-height: 17px;
  text-align: justify;
}
.read-more-and-comment {
  width: 100%;
  line-height: 32px;
  margin-top: 29px;
  margin-bottom: 19px;
}
.read-more-and-comment a {
  float: right;
}
a.post-prev-read-more {
  color: #993399;
  font-size: 14px;
  text-decoration: underline;
  margin-right: 25px;
}
a.post-prev-read-more:hover {
  text-decoration: none;
}
a.post-prev-comment {
  display: block;
  height: 32px;
  border: 1px solid #993399;
  border-radius: 2px;
  line-height: 30px;
  padding: 0 15px;
  color: #993399;
  text-decoration: none;
}
a.post-prev-comment:hover {
  opacity: .8;
}
.login-area {
  width: 518px;
  background: #ffffff;
  margin: 150px auto;
  overflow: hidden;
  border-radius: 10px;
}
.login-area-header {
  width: 100%;
  height: 46px;
  background: #0099ff;
  line-height: 46px;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
}
.login-area form {
  padding: 6px 29px;
}
.login-area form input {
  width: 100%;
  height: 42px;
  border: 1px solid #999999;
  border-radius: 2px;
  padding: 0 10px;
}
.login-area form span {
  font-size: 18px;
  color: #666666;
  display: block;
  margin-bottom: 9px;
  margin-top: 21px;
}
.login-area form ul {
  margin-top: 18px;
  padding-left: 7px;
  margin-bottom: 23px;
}
.login-area form ul li {
  display: inline-block;
}
.login-area form ul li a {
  font-size: 14px;
  color: #0099ff;
}
.login-area form ul li:first-child:after {
  content: "|";
  font-size: 14px;
  color: #0099ff;
  margin-left: 7px;
  margin-right: 7px;
}
.login-area form button {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 24px;
  height: 60px;
  line-height: 60px;
  background: url("../img/button_bg.jpg") repeat-x;
  border: 0px solid transparent;
  border-radius: 4px;
  padding: 0 90px;
  margin-bottom: 40px;
  box-shadow: 0 2px 15px rgba(0,0,0, .5);
  text-shadow: 1px 1px 1px rgba(0,0,0, .5);
}
.login-area form button:hover {
  opacity: .8;
}
.center {
  text-align: center;
}
.question-container {
  padding: 0 15px;
}
.question-area {
  width: 100%;
  background: #ffffff;
  padding: 0 10px;
}
.question-p {
  background: transparent;
}
.question-sidebar {
  width: 347px;
  padding-top: 34px;
  margin-bottom: 50px;
}
.sidebar-searchbar {
  width: 100%;
  background: #f3f2f2;
  padding: 0 16px 25px;
  margin-top: 16px;
}
.questions-search-inside-right {
  padding-left: 25px;
}
input[type="checkbox"] {
    display:none;            
}
input[type="checkbox"] + label {
  font-size: 14px;
  color: #666666;
  cursor: pointer;
  position: relative;
  padding-left: 36px;
}
input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0 0 0 0;
    background: #ffffff;
    position: absolute;
    left: 0;
    top: 2px;
}
input[type="checkbox"] + label::before {
    background-position: -38px -260px;    
}
input[type="checkbox"]:checked + label::before {
    background: #993399;
}
input[type="checkbox"]:disabled + label::before {
    background-position: -152px -260px;
}
input[type="checkbox"]:checked:disabled + label::before {
    background: #993399;
}
.question-sidebar-check {
  padding-left: 25px;
  margin-top: 3px;
  margin-bottom: 20px;
}
.question-sidebar-check li {
  line-height: 18px;
  margin-bottom: 12px;
}
.question-sidebar-check li label {
  line-height: 18px;
}
.sidebar-searchbar button.sm-btn_search {
  height: 40px;
  background: url("../img/button_sm.jpg") repeat-x;
  border: 0px solid transparent;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: 0 2px 15px rgba(0,0,0, .5);
  text-shadow: 1px 1px 1px rgba(0,0,0, .5);
  padding: 0 55px;
  border-radius: 4px;
}
.sidebar-searchbar button.sm-btn_search:hover {
  opacity: .8;
}
.all-questions {
  font-size: 30px;
  padding-top: 15px;
  border-bottom: 1px solid #dcdcdc;
  display: block;
  padding-bottom: 6px;
}
.question-main-content {
  width: 766px;
  margin-bottom: 50px;
}
blockquote {
  width: 737px;
  height: 136px;
  background: url("../img/blockquote.jpg");
  margin-left: 18px;
  margin-top: 15px;
}
blockquote p {
  font-size: 18px;
  color: #666666;
  line-height: 22px;
  width: 600px;
  margin-left: 65px;
  padding-top: 26px;
  position: relative;
}
blockquote p:before {
  content: "“";
  position: absolute;
  font-size: 48px;
  color: #993399;
  left: -32px;
  top: 36px;
}
blockquote p:after {
  content: url("../img/quote.png");
  margin-left: 15px;
}
.quote-stat {
  min-height: 14px;
  width: 100%;
  padding: 0 25px;
  margin-top: 9px;
}
.quote-comments, .quote-views {
  height: 14px;
  line-height: 14px;
  float: right;
  margin-left: 12px;
  margin-bottom: 5px;
}
.quote-comments span, .quote-views span {
  height: 14px;
  line-height: 14px;
  float: right;
  margin-left: 8px;
  font-size: 14px;
  color: #999999;
}
.pager {
  height: 25px;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 70px;
}
.pager ul {
  float: right;
}
.pager ul li a {
  background: #993399;
  color: #ffffff;
  width: 25px;
  height: 25px;
  padding: 0;
  line-height: 24px;
  text-align: center;
  font-size: 12px;
}
.pager li>a:hover, .pager li>a:focus {
  background: #993399;
  opacity: .9;
}
.pager ul li.active a {
  background: #3399ff;
}
.fb-container {
  float: left;
}
.block-answer {
  width: 670px;
  background: #f4f4f4;
  margin: 43px auto 15px;
  border-radius: 9px;
  position: relative;
  padding: 15px 17px;
  padding-bottom: 20px;
}
.block-answer:before {
  content: url("../img/icons/arrow-answer.png");
  position: absolute;
  top: -13px;
  left: 25px;
}
.block-answer h3 {
  font-size: 18px;
  color: #666666;
  margin-bottom: 10px;
}
.block-answer p {
  font-size: 14px;
  color: #333333;
  line-height: 17px;
  padding-left: 23px;
}
.comments-block-title {
  width: 200px;
  height: 23px;
  line-height: 23px;
  margin: 33px auto;
}
.comments-block-title span {
  line-height: 23px;
  height: 23px;
  display: block;
  margin-left: 10px;
  font-size: 18px;
  color: #993399;
}
.comments-block-title > * {
  float: right;
}
.quote-single-comment-right {
  width: 570px;
}
.quote-single-comment-right span {
  font-size: 12px;
  color: #666666;
  margin-bottom: 14px;
  display: block;
}
.quote-single-comment-right p {
  font-size: 14px;
  color: #666666;
}
.quote-single-comment {
  width: 665px;
  margin-left: 17px;
  margin-bottom: 30px;
}
.quote-single-comment-left img {
  margin-top: 5px;
}



@media only screen and (max-width: 1200px) {
  .header-container .social a.daftar {
    margin-left: 50px;
  }
  .footer-inner ul.first,
  .footer-inner ul.second {
    margin-right: 50px;
  }
  .question-main-content {
    width: 566px;
  }
  blockquote {
    width: 537px;
    height: auto;
    background: #f3f2f2;
    padding-bottom: 15px;
  }
  blockquote p {
    width: 425px;
  }
  .block-answer {
    width: 540px;
  }
  .quote-single-comment {
    width: 465px;
  }
  .quote-single-comment-right {
    width: 370px;
  }
}

@media only screen and (max-width: 1199px) {
  .comunites-content-area {
    width: 530px;
  }
}

@media only screen and (max-width: 991px) {
  .header-container .social a.daftar {
    margin-left: 15px;
  }
  .quote-single-comment {
    width: 265px;
  }
  .quote-single-comment-right {
    width: 170px;
  }
  .header-container .top-nav li {
    padding: 0 15px;
  }
  .top-container .top-left-inner p {
    padding-top: 0;
  }

  .slider-holder .item .text-holder {
    padding-right: 10px;
    padding-top: 20px;
  }

  .footer-inner ul.first,
  .footer-inner ul.second {
    margin-right: 10px;
  }
  .footer-inner form .btn_purpure {
    margin-left: 5px;
  }
  .search-sidebar {
    float: none !important;
    margin: auto;
  }
  .comunites-theme {
    float: none;
  }
  .comunites-desc {
    float: none;
    width: auto;
  }
  .comunites-left-sidebar {
    float: none !important;
    width: 100%;
  }
  .comunites-left-sidebar > h3 {
    cursor: pointer;
    line-height: 30px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
  }
  .sidebar-comunies-list {
    display: none;
  }
  .comunites-content-area {
    width: 515px;
  }
  .question-main-content {
    width: 340px;
  }
  blockquote {
    width: 321px;
  }
  blockquote p {
    width: 232px;
  }
  .block-answer {
    width: 302px;
    left: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .question-sidebar {
    float: none !important;
  }
  .question-sidebar {
    width: 100%;
  }
  .question-main-content {
    width: 100%;
  }
  blockquote {
    width: 100%;
    margin-left: 0;
  }
  .block-answer {
    width: auto;
    margin-right: 15px;
  }
  .header-container {
    position: absolute;
  }
  .header-container .social a.daftar {
    margin-left: 0px;
  }
  .header-container .top-nav {
    text-align: center;
  }
  .header-container .top-nav li {
    padding: 3px 15px;
  }
  .top-container {
    padding-top: 145px;
  }
  .top-container .container,
  .top-container .row,
  .top-container .column,
  .top-container .top-left,
  .top-container .top-right {
    height: auto;
  }
  .top-container .top-left-inner {
    text-align: center;
    padding-bottom: 20px;
  }
  .top-container .top-left-inner img {
    float: none;
  }
  .top-container .top-left-inner p {
    display: block;
  }
  .news-container .container {
    padding: 35px 15px 0;
  }
  .news-container .btn-holder {
    margin-bottom: 25px;
  }

  .consult-inner {
    background: url(../img/consult_bg.jpg) no-repeat left;
    padding-top: 40px;
    text-align: center;
  }
  .consult-inner .btn-holder {
    padding-top: 0;
  }
  .consult-inner h1 {
    margin-top: 30px;
  }
  .consult-inner ul {
    padding-left: 0;
  }
  .consult-inner ul li {
    margin: 10px 0;
  }
  .consult-inner ul li a {
    font-size: 18px;
    color: #0066cc;
    text-decoration: underline;
  }
  .consult-inner ul li a:hover {
    text-decoration: none;
  }
  .consult-inner a.topik {
    font-size: 18px;
    color: #993399;
    text-decoration: underline;
  }
  .consult-inner a.topik:hover {
    text-decoration: none;
  }

  .footer-container {
    text-align: center;
  }
  .footer-inner ul {
    display: block;
  }
  .footer-inner form {
    float: none;
    margin-top: 15px;
  }
  .footer-inner form .btn_purpure {
    margin-top: 15px;
  }
  .full-height {
    background-size: inherit;
  }
  .comunites-content-area, .comunites-right-sidebar {
    width: 100%;
    float: none !important;
  }
  .single-sidebar-box h3 {
    text-align: center;
  }
  .single-sidebar-box ul {
    width: 350px;
    margin: auto;
  }
  .lists-block {
    width: 473px;
    margin: auto;
  }
  .lists-block {
    padding-left: 0px;
  }
  .login-area {
    margin: 50px auto;
  }
  .quote-single-comment {
    width: auto;
    margin-left: 0px;
  }
  .quote-single-comment-right {
    width: auto;
    float: none !important;
    padding-left: 75px;
  }
}

@media only screen and (max-width: 730px) {
  .search-single-result-area {
    width: 460px;
  }
  .search-single-result-area-left p {
    width: 300px;
  }
  .questions-search-inside-right input {
    width: 150px;
  }
}

@media only screen and (max-width: 630px) {
  .search-single-result-area {
    width: 400px;
  }
  .single-post-prev-bot {
    padding-left: 0px;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 570px) {
  .search-single-result > img {
    float: none !important;
    margin: auto;
    display: block;
  }
  .search-single-result-area {
    width: auto;
    float: none !important;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 540px) {
  .login-area {
    width: auto;
  }
}

@media only screen and (max-width: 510px) {
  .search-area .questions-search-inside-left {
    float: none !important;
    margin-left: 0px;
    text-align: center;
  }
  .search-area .questions-search-inside-right {
    float: none !important;
    width: 260px;
    margin: auto;
  }
  .searchbar-theme > * {
    float: none;
  }
  .searchbar-theme {
    height: auto;
  }
  .searchbar .list-img {
    margin: auto;
  }
}



@media only screen and (max-width: 490px) {
  .lists-block {
    width: 230px;
    margin: auto;
  }
  .questions-search-inside {
    width: auto;
    padding-bottom: 10px;
  }
  .questions-search-inside-left {
    float: none !important;
    text-align: center;
  }
  .questions-search-inside-right {
    float: none !important;
    width: 241px;
    margin: auto;
  }
  .lists-block-item {
    height: auto !important;
  }
  .lists-block {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .sidebar-searchbar .questions-search-inside-right {
    width: 285px;
  }
}

@media only screen and (max-width: 460px) {
  .search-single-result-area-left {
     float: none !important;
  }
  .search-single-result-area-left p {
    width: auto;
  }
  .search-single-result-area {
    margin-right: 10px;
  }
  .search-single-result-area-right {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .search-single-result-area-left a {
    display: block;
    text-align: center;
  }
  .comunites-container-top {
    min-height: 115px;
  }
  .comunites-container-bot {
    padding-left: 18px;
  }
}

@media only screen and (max-width: 460px) {
  .single-sidebar-box ul {
    width: auto;
  }
  .sidebar-searchbar  .questions-search-inside-right input {
    width: 150px;
  }
}

@media only screen and (max-width: 390px) {
  blockquote p {
    width: 200px;
    margin-left: 40px;
  }
}

@media only screen and (max-width: 310px) {
  .login-area form button {
    padding: 0 50px;
  }
}

 

























